@import "tailwindcss";

@theme {
  --color-primary-fixed: #a2f0ee;
  --color-error: #ba1a1a;
  --color-primary: #004d4c;
  --color-on-primary-fixed-variant: #00504f;
  --color-surface-bright: #f8f9fa;
  --color-on-tertiary-fixed: #3f0018;
  --color-secondary-fixed-dim: #b4cad6;
  --color-inverse-primary: #86d4d2;
  --color-on-tertiary-container: #ffc6d1;
  --color-on-tertiary: #ffffff;
  --color-primary-container: #006766;
  --color-error-container: #ffdad6;
  --color-surface: #f8f9fa;
  --color-inverse-surface: #2e3132;
  --color-secondary-container: #cfe6f2;
  --color-on-surface-variant: #3e4948;
  --color-on-background: #191c1d;
  --color-tertiary-container: #b60753;
  --color-surface-container: #edeeef;
  --color-on-secondary-fixed: #071e27;
  --color-tertiary-fixed: #ffd9df;
  --color-surface-tint: #076968;
  --color-primary-fixed-dim: #86d4d2;
  --color-on-tertiary-fixed-variant: #8f003f;
  --color-tertiary-fixed-dim: #ffb1c2;
  --color-surface-container-lowest: #ffffff;
  --color-surface-variant: #e1e3e4;
  --color-on-error: #ffffff;
  --color-surface-container-highest: #e1e3e4;
  --color-secondary: #4c616c;
  --color-surface-container-high: #e7e8e9;
  --color-tertiary: #8b003d;
  --color-on-secondary: #ffffff;
  --color-surface-container-low: #f3f4f5;
  --color-on-error-container: #93000a;
  --color-background: #f8f9fa;
  --color-outline: #6f7978;
  --color-secondary-fixed: #cfe6f2;
  --color-surface-dim: #d9dadb;
  --color-on-surface: #191c1d;
  --color-on-primary-fixed: #00201f;
  --color-on-secondary-container: #526772;
  --color-on-primary-container: #94e2e0;
  --color-outline-variant: #bec9c8;
  --color-on-primary: #ffffff;
  --color-inverse-on-surface: #f0f1f2;
  --color-on-secondary-fixed-variant: #354a53;

  --font-headline: var(--font-manrope), sans-serif;
  --font-body: var(--font-inter), sans-serif;
  --font-label: var(--font-inter), sans-serif;
}

@layer base {
  :root {
    --background: var(--color-surface);
    --foreground: var(--color-on-surface);
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
